# Just a playground for trying my ideas

##### For the solution code, go to the .py file with the same name

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("adult.data.csv")

In [10]:
df["race"].unique()  # Returns array of unique values

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

## Solution to part 1:

In [11]:
df["race"].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

## Solution to part 2:

In [19]:
df[df["sex"] == "Male"]["age"].mean()

39.43354749885268

In [21]:
len(df.index)  # How many entries are there?

32561

In [24]:
len(df[df["education"] == "Bachelors"].index)

5355

## Solution to part 3:

In [28]:
(len(df[df["education"] == "Bachelors"].index) / len(df.index)) * 100

16.44605509658794

In [47]:
((df["education"] == "Bachelors") | (df["education"] == "Masters") | (df["education"] == "Doctorate")).sum()

7491

In [39]:
df["education"] == "Masters"

0        False
1        False
2        False
3        False
4        False
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Name: education, Length: 32561, dtype: bool

## Solution to part 4

In [60]:
adv_edu_count = len(df[df["education"].isin(pd.Series(["Bachelors","Masters","Doctorate"]))].index)
adv_over_50k = (df[df["education"].isin(pd.Series(["Bachelors","Masters","Doctorate"]))]["salary"] == ">50K").sum()
(adv_over_50k / adv_edu_count) * 100

46.535843011613935

In [53]:
df[df["education"].isin(pd.Series(["Bachelors","Masters","Doctorate"]))]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [59]:
(df[df["education"].isin(pd.Series(["Bachelors","Masters","Doctorate"]))]["salary"] == ">50K").sum()

3486

## Solution to part 5

In [129]:
low_edu_count = len(df[~df["education"].isin(pd.Series(["Bachelors","Masters","Doctorate"]))].index)
low_over_50k = (df[~df["education"].isin(pd.Series(["Bachelors","Masters","Doctorate"]))]["salary"] == ">50K").sum()
(low_over_50k / low_edu_count) * 100

17.3713601914639

## Solution to part 6

In [66]:
df["hours-per-week"].min()

1

## Solution to part 7

In [130]:
min_hours_count = len(df[df["hours-per-week"] == df["hours-per-week"].min()].index)
min_over_50k = (df[df["hours-per-week"] == df["hours-per-week"].min()]["salary"] == ">50K").sum()
(min_over_50k / min_hours_count) * 100

10.0

In [80]:
df[df["salary"] == ">50K"]  # All earning over 50K

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [96]:
(df[df["salary"] == ">50K"].groupby(["native-country"]))["salary"].count()

native-country
?                      146
Cambodia                 7
Canada                  39
China                   20
Columbia                 2
Cuba                    25
Dominican-Republic       2
Ecuador                  4
El-Salvador              9
England                 30
France                  12
Germany                 44
Greece                   8
Guatemala                3
Haiti                    4
Honduras                 1
Hong                     6
Hungary                  3
India                   40
Iran                    18
Ireland                  5
Italy                   25
Jamaica                 10
Japan                   24
Laos                     2
Mexico                  33
Nicaragua                2
Peru                     2
Philippines             61
Poland                  12
Portugal                 4
Puerto-Rico             12
Scotland                 3
South                   16
Taiwan                  20
Thailand                 3
Trinadad&Tobago          2
United-States         7171
Vietnam                  5
Yugoslavia               6
Name: salary, dtype: int64

In [98]:
df.groupby("native-country")["salary"].count()

native-country
?                               583
Cambodia                         19
Canada                          121
China                            75
Columbia                         59
Cuba                             95
Dominican-Republic               70
Ecuador                          28
El-Salvador                     106
England                          90
France                           29
Germany                         137
Greece                           29
Guatemala                        64
Haiti                            44
Holand-Netherlands                1
Honduras                         13
Hong                             20
Hungary                          13
India                           100
Iran                             43
Ireland                          24
Italy                            73
Jamaica                          81
Japan                            62
Laos                             18
Mexico                          643
Nicaragua                        34
Outlying-US(Guam-USVI-etc)       14
Peru                             31
Philippines                     198
Poland                           60
Portugal                         37
Puerto-Rico                     114
Scotland                         12
South                            80
Taiwan                           51
Thailand                         18
Trinadad&Tobago                  19
United-States                 29170
Vietnam                          67
Yugoslavia                       16
Name: salary, dtype: int64

## Solution to part 8

In [114]:
rich_percentage_per_country = ((df[df["salary"] == ">50K"].groupby("native-country"))["salary"].count() / df.groupby("native-country")["salary"].count()) * 100

In [115]:
rich_percentage_per_country.idxmax()

'Iran'

In [116]:
rich_percentage_per_country.max()

41.86046511627907

In [112]:
rich_percentage_per_country

native-country
?                             25.042882
Cambodia                      36.842105
Canada                        32.231405
China                         26.666667
Columbia                       3.389831
Cuba                          26.315789
Dominican-Republic             2.857143
Ecuador                       14.285714
El-Salvador                    8.490566
England                       33.333333
France                        41.379310
Germany                       32.116788
Greece                        27.586207
Guatemala                      4.687500
Haiti                          9.090909
Holand-Netherlands                  NaN
Honduras                       7.692308
Hong                          30.000000
Hungary                       23.076923
India                         40.000000
Iran                          41.860465
Ireland                       20.833333
Italy                         34.246575
Jamaica                       12.345679
Japan                         38.709677
Laos                          11.111111
Mexico                         5.132193
Nicaragua                      5.882353
Outlying-US(Guam-USVI-etc)          NaN
Peru                           6.451613
Philippines                   30.808081
Poland                        20.000000
Portugal                      10.810811
Puerto-Rico                   10.526316
Scotland                      25.000000
South                         20.000000
Taiwan                        39.215686
Thailand                      16.666667
Trinadad&Tobago               10.526316
United-States                 24.583476
Vietnam                        7.462687
Yugoslavia                    37.500000
Name: salary, dtype: float64

## Solution to part 9

In [128]:
(df[df["native-country"] == "India"].groupby("occupation"))["occupation"].count().idxmax()

'Prof-specialty'